@font-face {
  font-family: 'Inter';
  src: url('inter.ttf') format('truetype');
}

:root {
  --font-size-large: 24vw;
  --font-size-medium: 8vw;
  --font-size-small: 2.5vw;
}

body {
  font-family: 'Inter', Arial;
  font-size: var(--font-size-small);
  background-size: 200% 200%;
  background-color: #557459;
  background-image: radial-gradient(circle at center, #230c24, #ffffff00);
  background-repeat: no-repeat;
  color: #fffeff;
  overflow: hidden;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

.namecontainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  bottom: 0;
  transition: bottom 0.2s;
}

.nametitle {
  font-size: var(--font-size-large);
  margin-bottom: 0px;
  line-height: .75em;
  background-image: radial-gradient(circle at center, #557459 0%, #fffeff 10%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.namesubtitle {
  font-size: var(--font-size-medium);
  margin-bottom: -0.05em;
  line-height: 0.85em;
  margin-left: 0.1em;
  background-image: radial-gradient(circle at center, #557459 0%, #fffeff 10%);
  background-size: 2000% 2000%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: margin-bottom 0.25s ease;
}

.decorativeblock {
  position: fixed;
  bottom: 2em;
  right: 0;
  width: 25em;
  height: 6em;
  background-color: #bc58a420;
  z-index: -1;
  transition: right 0.25s ease;
}

.menubuttons {
  position: fixed;
  right: 0;
  top: 2em;
  display: block;
}

.menubutton {
  cursor: pointer;
  text-align: right;
  width: fit-content;
  margin-left: auto;
  margin-right: 0.2em;
  transition: color 0.2s;
}

.menubutton[data-active='true'] {
  color: #9ad2a2ff;
}

.menubutton[data-active='true']:after {
  width: 100%;
}

.menubutton:after {
  margin-left: auto;
  margin-right: 0;
  background-color: #9ad2a2ff;
  content: "";
  display: block;
  width: 0;
  height: 0.2em;
  margin-top: -0.25em;
  transition: width 0.5s ease;
}

.menubutton:hover:after {
  width: 100%;
}

.popupdisplay {
  display: none;
}

.titletext {
  margin-top: 0.2em;
  font-size: calc(var(--font-size-small) * 1.2);
  height: 0.8em;
}

.popupholder {
  position: fixed;
  left: 0;
  top: 2em;
  background-color: #bc58a420;
  width: 0;
  padding-right: 1em;
  padding-left: 1em;
  transition: width 0.25s ease;
}

.bodytext {
  margin-bottom: 0.5em;
  width: fit-content;
  max-width: 30em;
}

.contactlink {
  text-decoration: none;
  color: #9ad2a2ff;
}

.contactlink:after {
  margin-right: auto;
  margin-left: 0;
  background-color: #9ad2a2ff;
  content: "";
  display: block;
  width: 0;
  height: 0.2em;
  margin-top: -0.25em;
  transition: width 0.5s ease;
}

.contactlink:hover:after {
  width: 100%;
}