@font-face {
  font-family: 'Inter';
  src: url('inter.ttf') format('truetype');
}

:root {
  --font-size-large: 24vw;
  --font-size-medium: 8vw;
  --font-size-small: 2.5vw;
  --font-size-paragraph: 2vw;
  --button-color: #f5b1e9;
  --accent-color: #f5b1e9;
  --hover-color: #ec6ed6;
  --background-color: #3a386e;
  --underline-color: #d23956;
  --highlighted-color: #da5c74;
  --light-background: #6562af;
}

svg {
  shape-rendering: optimizeSpeed;
}

body {
  font-family: 'Inter', Arial;
  font-size: var(--font-size-small);
  color: var(--accent-color);
  overflow: hidden;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, var(--background-color) 25%, var(--light-background));
  height: 200vh;
  width: 200vw;
  z-index: -2;
  filter: url(#noise);
}

.namecontainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  bottom: 0;
  transition: bottom 0.5s;
}

.nametitle {
  font-size: var(--font-size-large);
  margin-bottom: 0px;
  line-height: .75em;
  background-image: radial-gradient(circle at center, var(--hover-color) 0%, var(--accent-color) 10%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.namesubtitle {
  font-size: var(--font-size-medium);
  margin-bottom: -0.05em;
  line-height: 0.85em;
  margin-left: 0.1em;
  background-image: radial-gradient(circle at center, var(--hover-color) 0%, var(--accent-color) 10%);
  background-size: 2000% 2000%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.decorativeblock {
  position: fixed;
  bottom: 2em;
  right: 0;
  width: 25em;
  height: 6em;
  background-color: var(--background-color);
  opacity: 0.5;
  z-index: -1;
  transition: right 0.5s ease;
}

.menubuttons {
  position: fixed;
  right: 0;
  top: 2em;
  display: block;
}

.menubutton {
  cursor: pointer;
  text-align: right;
  width: fit-content;
  margin-left: auto;
  margin-right: 0.2em;
  transition: color 0.5s ease;
  color: var(--button-color);
}

.menubutton[data-active='true'] {
  color: var(--highlighted-color);
}

.menubutton[data-active='true']:after {
  width: 100%;
}

.menubutton:after {
  margin-left: auto;
  margin-right: 0;
  background-color: var(--underline-color);
  content: "";
  display: block;
  width: 0;
  height: 0.2em;
  margin-top: -0.25em;
  transition: width 0.5s ease;
}

.menubutton:hover:after {
  width: 100%;
}

.popupdisplay {
  display: none;
}

.titletext {
  margin-top: -1em;
  margin-left: 2em;
  font-size: calc(var(--font-size-small) * 1.2);
  height: 0.8em;
  width: 30em;
  max-width: max-content;
}

.popupholder {
  position: fixed;
  left: 0;
  top: 2em;
  background-color: var(--background-color);
  opacity: 0.5;
  width: 0;
  transition: left 0.5s ease, width 0.25s ease, height 0.25s ease;
}

.bodytext {
  margin-bottom: 0.5em;
  margin-left: 1em;
  width: 30em;
  max-width: max-content;
  font-size: var(--font-size-paragraph);
}

.contactlink {
  text-decoration: none;
  color: var(--highlighted-color);
}

.contactlink:after {
  margin-right: auto;
  margin-left: 0;
  background-color: var(--underline-color);
  content: "";
  display: block;
  width: 0;
  height: 0.2em;
  margin-top: -0.25em;
  transition: width 0.5s ease;
}

.contactlink:hover:after {
  width: 100%;
}