/* rubik-doodle-shadow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Doodle Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-doodle-shadow-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-doodle-triangles-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Doodle Triangles';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-doodle-triangles-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-puddles-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Puddles';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-puddles-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sour-gummy-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sour-gummy-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-sketch-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cabin-sketch-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@keyframes arrow-nudge {
  0% { transform: translateX(0); }
  50% { transform: translateX(10%); }
  100% { transform: translateX(0); }
}

@keyframes star-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  font-size: 1vw;

  --text-color: #fff;
}

body {
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  margin: 0;

  overflow-x: hidden;
}

.page {
  width: 100vw;
  height: 100%;
  position: absolute;

  background-image: url('../images/orioncombined.png');
  background-size: 180% 180%;
  background-position-x: 90%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in-out;
  transform: translateX(100%);
}

.active-page {
  transform: translateX(0%);
}

.landing-title {
  font-family: 'Cabin Sketch';
  font-weight: 700;
  font-size: 8rem;
  margin-top: 8rem;
  margin-bottom: -2.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-family: 'Sour Gummy';
  font-size: 2rem;
}

.semi-header {
  font-family: 'Sour Gummy';
  font-size: 2.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  text-shadow: 0 0 5px #fff;
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}

#navbar {
  position: fixed;
  bottom: 1.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.nav-icon {
  width: 3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px #fff);
}

.nav-spacer {
  width: 2rem;
}

#work-arrow {
  position: relative;
  cursor: pointer;
  top: 0.2rem;
  animation: arrow-nudge 0.7s cubic-bezier(0.4, 0, 0.6, 1) 2 3s;
  transition: all 0.2s ease-in-out;
}

#work-arrow:hover {
  transform: translateX(10%);
  filter: drop-shadow(0 0 5px #fff);
}

#nav-position {
  width: 3.5rem;
  position: absolute;
  left: 0;
  transition: left 0.8s ease-in-out;
}

.animatestar {
  animation: star-spin 1.2s cubic-bezier(0.4, 0, 0.6, 1) 1;
}