/* rubik-doodle-shadow-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Doodle Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-doodle-shadow-v1-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-doodle-triangles-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Doodle Triangles';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-doodle-triangles-v1-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-puddles-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Puddles';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-puddles-v2-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sour-gummy-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sour-gummy-v3-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-sketch-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cabin-sketch-v23-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@keyframes arrow-nudge {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes star-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  font-size: 1vw;

  --text-color: #fff;
}

body {
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  margin: 0;

  overflow: hidden;
}

.page {
  width: 100vw;
  height: 100%;
  position: absolute;

  background-image: url('../images/orioncombined.png');
  background-size: 180% 180%;
  background-position-x: 90%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in-out;
  transform: translateX(100%);
}

.active-page {
  transform: translateX(0%);
}

.landing-title {
  font-family: 'Cabin Sketch';
  font-weight: 700;
  font-size: 8rem;
  margin-top: 8rem;
  margin-bottom: -2.5rem;
}

.page-title {
  font-size: 7rem;
}

.project-box {
  position: absolute;
  right: 3rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#game-title {
  font-family: 'Rubik Doodle Shadow';
  margin-bottom: -2rem;
}

#app-title {
  font-family: 'Rubik Doodle Triangles';
}

#research-title {
  font-family: 'Rubik Puddles';
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-family: 'Sour Gummy';
  font-size: 2rem;
}

.description {
  font-family: 'Sour Gummy';
  font-size: 1.5rem;
}

#game-selector {
  position: absolute;
  left: 0.5rem;
  top: 30%;
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.game-card {
  width: 16rem;
  height: 12rem;
  position: relative;
  margin: 1rem;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.selected-game {
  width: 18rem;
  height: 13.5rem;
}

.game-image-container {
  width: 25rem;
  height: 15rem;
  position: absolute;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: 0;
  position: absolute;
}

.game-image-border {
  width: 102%;
  height: 102%;
  position: absolute;
  left: -1%;
  top: -1%;
}

.game-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: 0;
  position: absolute;
}

.game-thumbnail-border {
  width: 105%;
  height: 105%;
  position: absolute;
  left: -2.5%;
  top: -2.5%;
}

#game-awards {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

#game-image-1 {
  left: -6rem;
  top: 32rem;
}

#game-image-2 {
  left: 12rem;
  top: 39rem;
}

#game-image-3 {
  left: 34rem;
  top: 37rem;
}

#game-description {
  max-width: 60rem;
  background-image: url('../images/descriptionborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.award {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  margin: 0rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: #ffff00;
  background-image: url('../images/awardborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#game-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -0.5rem;
}

.technology {
  font-family: 'Sour Gummy';
  font-size: 1.5rem;
  margin: 0.25rem;
  padding: 0.25rem 0.75rem;
  color: #9DFFC7;
  background-image: url('../images/technologyborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#game-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.semi-header {
  font-family: 'Sour Gummy';
  font-size: 2.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#game-links {
  margin-top: 1rem;
  margin-right: 3rem;
  display: flex;
  gap: 1.5rem;
}

.game-link {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.game-link:hover {
  text-shadow: 0 0 5px #fff;
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}

.button {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  text-shadow: 0 0 5px #fff;
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}

.button-nohover {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
}

#navbar {
  position: fixed;
  bottom: 1.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.nav-icon {
  width: 3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px #fff);
}

.nav-spacer {
  width: 2rem;
}

#work-arrow {
  position: relative;
  cursor: pointer;
  top: 0.2rem;
  animation: arrow-nudge 0.7s cubic-bezier(0.4, 0, 0.6, 1) 2 3s;
  transition: all 0.2s ease-in-out;
}

#work-arrow:hover {
  transform: translateX(10%);
  filter: drop-shadow(0 0 5px #fff);
}

#nav-position {
  width: 3.5rem;
  position: absolute;
  left: 0;
  transition: left 0.8s ease-in-out;
}

.animatestar {
  animation: star-spin 1.2s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

.landing-image-container {
  width: 21rem;
  height: 14rem;
  position: absolute;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 15px;
}

.image-border {
  width: 103%;
  height: 103%;
  position: absolute;
  left: -1.5%;
  top: -1.5%;
}

#landing-image-1 {
  left: -4rem;
  top: 13rem;
  transform: rotate(70deg);
}

#landing-image-2 {
  left: -1rem;
  top: 1rem;
  transform: rotate(25deg);
}

#landing-image-3 {
  left: 14rem;
  top: -3.5rem;
  transform: rotate(-18deg);
}

#landing-image-4 {
  right: 18rem;
  top: -6rem;
  transform: rotate(15deg);
}

#landing-image-5 {
  right: -1rem;
  top: 1rem;
  transform: rotate(60deg);
}

#landing-image-6 {
  right: -1rem;
  top: 14rem;
  transform: rotate(-5deg);
}

#photography-image-1 {
  left: -12rem;
  bottom: -17rem;
  transform: rotate(-25deg);
}

#photography-image-2 {
  left: 2rem;
  bottom: -23rem;
  transform: rotate(20deg);
}

#photography-teaser {
  position: absolute;
  left: 10rem;
  bottom: 19rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#photography-teaser:hover {
  transform: scale(1.05) translate(5px, -5px);
  text-shadow: 0 0 5px #fff;
  filter: drop-shadow(-5px 5px 0px #fff);
}

#photography-teaser img {
  transition: filter 0.2s ease-in-out;
}

#photography-teaser:hover img {
  filter: brightness(2.0);
}

.button-arrow-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photography-arrow {
  margin-top: -0.5rem;
}