/* rubik-doodle-shadow-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Doodle Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-doodle-shadow-v1-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-doodle-triangles-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Doodle Triangles';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-doodle-triangles-v1-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-puddles-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik Puddles';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-puddles-v2-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sour-gummy-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sour-gummy-v3-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-sketch-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cabin-sketch-v23-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@keyframes arrow-nudge {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes star-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  font-size: 1vw;

  --text-color: #fff;
}

body {
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  margin: 0;

  overflow: hidden;
}

.page {
  width: 100vw;
  height: 100%;
  position: absolute;

  background-image: url('../images/content/image-7.webp');
  background-size: cover;
  background-position-x: 90%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in-out;
  transform: translateX(100%);
  overflow: hidden;
}

.secondary-page {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.8s ease-in-out;
  transform: translateY(100%);
  overflow: hidden;
}

.background-img {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  object-fit: cover;
  z-index: -2;
  filter: blur(16px);
}

.back-arrow {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-arrow:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px #fff);
}

.active-page {
  transform: translateX(0%);
}

.secondary-page.active-page {
  transform: translateY(0%);
}

.landing-title {
  font-family: 'Cabin Sketch';
  font-weight: 700;
  font-size: 8rem;
  margin-top: 8rem;
  margin-bottom: -2.5rem;
}

.page-title {
  font-size: 7rem;
}

#photography-title {
  font-family: 'Cabin Sketch';
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.project-box {
  position: absolute;
  right: 3rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#game-title {
  font-family: 'Rubik Doodle Shadow';
  margin-bottom: -2rem;
}

#app-title {
  font-family: 'Rubik Doodle Triangles';
  font-weight: 400;
  margin-bottom: -2rem;
}

#research-title {
  font-family: 'Rubik Puddles';
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-family: 'Sour Gummy';
  font-size: 2rem;
}

.description {
  font-family: 'Sour Gummy';
  font-size: 1.5rem;
}

#game-selector {
  position: absolute;
  left: 0.5rem;
  top: 10%;
  display: flex;
  height: fit-content;
  flex-direction: column;
}

#project-selector {
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.project-card {
  width: 24rem;
  height: 15rem;
  position: relative;
  margin: 1rem;
  left: 0;
  top: 0;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.project-card:hover {
  filter: drop-shadow(-5px 5px 0px #fff);
  left: 0.25rem;
  top: -0.25rem;
}

#app-description {
  max-width: 45rem;
  padding: 1rem 2rem;
  margin-top: -2rem;
}

#project-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.game-card {
  width: 16rem;
  height: 12rem;
  position: relative;
  margin: 1rem;
  left: 0;
  top: 0;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.game-card:hover {
  filter: drop-shadow(-5px 5px 0px #fff);
  left: 0.25rem;
  top: -0.25rem;
}

.selected-game {
  width: 18rem;
  height: 13.5rem;
}

.game-image-container {
  width: 25rem;
  height: 15rem;
  position: absolute;
}

.project-image-container {
  width: 26rem;
  height: 16rem;
  position: absolute;
}

.game-image,
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: 0;
  position: absolute;
}

.game-image-border,
.project-image-border {
  width: 102%;
  height: 102%;
  position: absolute;
  left: -1%;
  top: -1%;
  pointer-events: none;
}

.game-thumbnail,
.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  z-index: 0;
  position: absolute;
}

.game-thumbnail-border,
.project-thumbnail-border {
  width: 102%;
  height: 102%;
  position: absolute;
  left: -1%;
  top: -1%;
  pointer-events: none;
}

#game-awards {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

#game-image-1 {
  left: -6rem;
  top: 32rem;
}

#game-image-2 {
  left: 12rem;
  top: 39rem;
}

#game-image-3 {
  left: 34rem;
  top: 37rem;
}

#project-image-1 {
  left: -45rem;
  top: 2rem;
}

#project-image-2 {
  left: -27rem;
  top: 10rem;
}

#project-image-3 {
  left: -42rem;
  top: 20rem;
}

#game-description {
  max-width: 60rem;
  background-image: url('../images/descriptionborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.award {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  margin: 0rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: #ffff00;
  background-image: url('../images/awardborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#game-technologies,
#app-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -0.5rem;
}

.technology {
  font-family: 'Sour Gummy';
  font-size: 1.5rem;
  margin: 0.25rem;
  padding: 0.25rem 0.75rem;
  color: #9DFFC7;
  background-image: url('../images/technologyborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#game-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.semi-header {
  font-family: 'Sour Gummy';
  font-size: 2.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#game-links,
#app-links {
  margin-top: 1rem;
  margin-right: 3rem;
  display: flex;
  gap: 1.5rem;
}

.game-link,
.project-link {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.game-link:hover,
.project-link:hover {
  text-shadow: 0 0 5px #fff;
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}

.button {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  text-shadow: 0 0 5px #fff;
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}

.button-nohover {
  font-family: 'Sour Gummy';
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
}

#navbar {
  position: fixed;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.nav-icon {
  width: 3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px #fff);
}

.nav-spacer {
  width: 2rem;
}

#work-arrow {
  position: relative;
  cursor: pointer;
  top: 0.2rem;
  animation: arrow-nudge 0.7s cubic-bezier(0.4, 0, 0.6, 1) 2 3s;
  transition: all 0.2s ease-in-out;
}

#work-arrow:hover {
  transform: translateX(10%);
  filter: drop-shadow(0 0 5px #fff);
}

#nav-position {
  width: 3.5rem;
  position: absolute;
  left: 39.5rem;
  transition: left 0.8s ease-in-out;
}

.animatestar {
  animation: star-spin 1.2s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

.landing-image-container {
  width: 21rem;
  height: 14rem;
  position: absolute;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 15px;
}

.image-border {
  width: 103%;
  height: 103%;
  position: absolute;
  left: -1.5%;
  top: -1.5%;
  pointer-events: none;
}

#landing-image-1 {
  left: -4rem;
  top: 13rem;
  transform: rotate(70deg);
}

#landing-image-2 {
  left: -1rem;
  top: 1rem;
  transform: rotate(25deg);
}

#landing-image-3 {
  left: 14rem;
  top: -3.5rem;
  transform: rotate(-18deg);
}

#landing-image-4 {
  right: 18rem;
  top: -6rem;
  transform: rotate(15deg);
}

#landing-image-5 {
  right: -1rem;
  top: 1rem;
  transform: rotate(60deg);
}

#landing-image-6 {
  right: -1rem;
  top: 14rem;
  transform: rotate(-5deg);
}

#photography-image-1 {
  left: -12rem;
  bottom: -17rem;
  transform: rotate(-25deg);
}

#photography-image-2 {
  left: 2rem;
  bottom: -23rem;
  transform: rotate(20deg);
}

#photography-teaser {
  position: absolute;
  left: 10rem;
  bottom: 19rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#photography-teaser:hover {
  transform: scale(1.05) translate(5px, -5px);
  text-shadow: 0 0 5px #fff;
  filter: drop-shadow(-5px 5px 0px #fff);
}

#photography-teaser img {
  transition: filter 0.2s ease-in-out;
}

#photography-teaser:hover img {
  filter: brightness(2.0);
}

.button-arrow-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photography-arrow {
  margin-top: -0.5rem;
}

#publication-list {
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
  padding-top: 4rem;
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 70%, transparent);
  width: 55rem;
  height: 100%;
  scroll-padding-bottom: 1000px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#publication-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 20rem;
}

.publication {
  width: 50rem;
  padding: 1rem 2rem;
  background-image: url('../images/descriptionborder.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.publication:hover {
  transform: translate(5px, -5px);
  text-shadow: 0 0 5px #fff;
  filter: drop-shadow(-5px 5px 0px #fff);
}

.publication-title {
  font-family: 'Sour Gummy';
  font-size: 1.5rem;
  margin: 0;
}

.publication-journal {
  font-family: 'Sour Gummy';
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.25rem;
}

#research-description {
  margin-top: -5rem;
  width: 37rem;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 40rem;
  padding-top: 3rem;
  padding-bottom: 15rem;
  mask-image: linear-gradient(to bottom, transparent, black 6%, black 75%, transparent 85%);
}

.emphasis {
  font-family: 'Sour Gummy';
  font-size: 1.8rem;
  font-weight: bold;
}

#photos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
  margin-top: -2rem;
  padding: 2rem 2rem;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 100%;
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 65%, transparent 80%);
}

.photo-holder {
  width: 28rem;
  height: 18rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.photo-holder:hover {
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}

.photo-background {
  position: relative;
  width: 104%;
  height: 104%;
  left: -2%;
  top: -102%;
  pointer-events: none;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 15px;
}

.photo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.photo-modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.link {
  font-family: 'Sour Gummy';
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  background-image: url('../images/buttonbordermedium.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  text-shadow: 0 0 5px #fff;
  transform: scale(1.05) translate(5px, -5px);
  filter: drop-shadow(-5px 5px 0px #fff);
}